<div class="slds-container--large slds-container--center">
  <plunker #playground="playground"></plunker>
  <div class="slds-p-around--large">
    <page-component [component]="components.badges" (onTry)="playground.open($event)">
      <demo-badges></demo-badges>
    </page-component>
    <page-component [component]="components.breadcrumbs" (onTry)="playground.open($event)">
      <demo-breadcrumbs></demo-breadcrumbs>
    </page-component>
    <page-component [component]="components.buttons" (onTry)="playground.open($event)">
      <demo-buttons></demo-buttons>
    </page-component>
    <page-component [component]="components.datatables" (onTry)="playground.open($event)">
      <demo-datatables></demo-datatables>
    </page-component>
    <page-component [component]="components.datepickers" (onTry)="playground.open($event)">
      <demo-datepickers></demo-datepickers>
    </page-component>
    <page-component [component]="components.forms" (onTry)="playground.open($event)">
      <demo-forms></demo-forms>
    </page-component>
    <page-component [component]="components.icons" (onTry)="playground.open($event)">
      <demo-icons></demo-icons>
    </page-component>
    <page-component [component]="components.images" (onTry)="playground.open($event)">
      <demo-images></demo-images>
    </page-component>
    <page-component [component]="components.lookups" (onTry)="playground.open($event)">
      <demo-lookups></demo-lookups>
    </page-component>
    <page-component [component]="components.menus" (onTry)="playground.open($event)">
      <demo-menus></demo-menus>
    </page-component>
    <page-component [component]="components.modals" (onTry)="playground.open($event)">
      <demo-modals></demo-modals>
    </page-component>
    <page-component [component]="components.notifications" (onTry)="playground.open($event)">
      <demo-notifications></demo-notifications>
    </page-component>
    <page-component [component]="components.paginations" (onTry)="playground.open($event)">
      <demo-paginations></demo-paginations>
    </page-component>
    <page-component [component]="components.pick" (onTry)="playground.open($event)">
      <demo-pick></demo-pick>
    </page-component>
    <page-component [component]="components.picklist" (onTry)="playground.open($event)">
      <demo-picklist></demo-picklist>
    </page-component>
    <page-component [component]="components.pills" (onTry)="playground.open($event)">
      <demo-pills></demo-pills>
    </page-component>
    <page-component [component]="components.popovers" (onTry)="playground.open($event)">
      <demo-popovers></demo-popovers>
    </page-component>
    <page-component [component]="components.ratings" (onTry)="playground.open($event)">
      <demo-ratings></demo-ratings>
    </page-component>
    <page-component [component]="components.sections" (onTry)="playground.open($event)">
      <demo-sections></demo-sections>
    </page-component>
    <page-component [component]="components.spinners" (onTry)="playground.open($event)">
      <demo-spinners></demo-spinners>
    </page-component>
    <page-component [component]="components.tabs" (onTry)="playground.open($event)">
      <demo-tabs></demo-tabs>
    </page-component>
  </div>
</div>
