header.slds-popover__header(*ngIf="header")
  h2.slds-text-heading--small([id]="uid + '-heading'") {{header}}
.slds-popover__body([id]="uid")
  ng-content
footer.slds-popover__footer(*ngIf="footer") {{footer}}
